/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* from here */
body {
  text-size-adjust: 100%;
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  background: rgb(0, 0, 0);
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

/* sidebar */
.sidebar {
  position: fixed;
  width: 19%;
  right: 0;
  height: 100%;
}
.side-logo {
  height: 22.42px;
  width: 87px;
  padding: 25px 0 40px 0;
}
.side-contents {
  padding-left: 50px;
}
.side-menu li a {
  color: #fff;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 14px;
}
.side-menu li a:hover {
  text-decoration: underline;
}
.side-menu li {
  padding-bottom: 25px;
}
.side-icons .fab {
  padding: 45px 10px 0 0;
}
.side-icons .fab:hover {
  opacity: 0.8;
}

/* main */
.main {
  width: 81%;
}
.top-wrapper {
  width: 100%;
}
.top-img {
  width: 100%;
  height: auto;
}
.top-message {
  height: 320px;
  width: 65%;
  margin: 0 auto;
}
.top-message h1 {
  font-size: 22px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}
.message-title {
  margin: 60px auto 50px auto;
  padding-bottom: 15px;
  border-bottom: 3px solid white;
  width: 110px;
}
.message-text {
  margin-bottom: 70px;
}
.message-text p {
  display: inline-block;
  margin-bottom: 70px;
}
.photo {
  width: 33.1%;
  height: auto;
}
.wide-photo {
  width: 100%;
  height: auto;
}

/* brand */
.brand-wrapper {
  width: 100%;
  margin: 0 auto;
}
.title-brand {
  width: 85px;
  margin: 70px auto 0 auto;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  text-align: center;
}
.title-brand h1 {
  font-size: 22px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.brand-container {
  width: 80%;
  height: 280px;
  margin: 50px auto 0 auto;
  border-bottom: 1px solid white;
}
.brand {
  float: left;
  clear: float;
  width: 25%;
  text-align: center;
}
.brand-logo {
  width: 70%;
  height: auto;
}
.brand-text {
  width: 70%;
  margin: 0 auto;
}

/* project */
.project-wrapper {
  width: 100%;
  margin: 0 auto;
}
.project-container {
  width: 80%;
  height: 830px;
  margin: 50px auto 110px auto;
  border-bottom: 1px solid white;
}
.title-project {
  width: 110px;
  margin: 70px auto 0 auto;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  text-align: center;
}
.title-project h1 {
  font-size: 22px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}
.project-contents {
  width: 95%;
  margin: 0 auto;
}
.content {
  margin-bottom: 76px;
}
.content-photo {
  width: 40%;
  height: auto;
  float: left;
}
.content p {
  float: right;
  width: 55%;
  margin-bottom: 25px;
}


/* company */

.company-wrapper {
  width: 100%;
  margin: 0 auto;
}
.company-container {
  width: 80%;
  height: 500px;
  margin: 40px auto 110px auto;
}
.title-company {
  width: 130px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  text-align: center;
}
.title-company h1 {
  font-size: 22px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}
.company-contents {
  margin-top: 60px;
}
.address p {
  float: left;
  line-height: 28px;
  width: 35%;
  height: auto;
}
.google-map {
  float :right;
  width: 60%;
  height: auto;
}


/* footer */
.footer {
  width: 81%;
  margin: 0 auto 90px auto;
}
.footer-wrapper {
  width: 100%;
  height: auto;
  text-align: center;
}
.footer-wrapper p {
  font-size: 12px;
}
.footer-wrapper p a {
  opacity: 0.8;
}





.sidebar-responsive {
  display: none;
}

@media (max-width: 790px ) {
/* sidebar */
  .sidebar {
    display: none;
  }
  .sidebar-listicrons {
    display: none;
  }
  .sidebar-top .fal {
    display: none;
  }
  .sidebar-responsive {
    display: block;
    position: relative;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    text-align: center;
  }
  .sidelogo-res {
    width: 105px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 42%;
  }
  .sidebar-responsive .fas {
    float: right;
    padding: 20px;
    width: 30px;
    height: 20px;
  }

  /* main */
  .main {
    width:100%;
  }
  .top-message {
    width: 90%;
  }
  .photo {
    width: 100%;
    height: auto;
  }
}


/* brand */
  .brand {
    width: 100%;
  }
  .brand-container {
    height: 1000px;
  }
  .brand-logo {
    width: 26%;
  }
  .brand-text {
    margin-bottom: 40px;
  }

/* company */
  .company-container {
    height: 400px;
  }

@media (max-width: 630px) {
  /* main */
  .top-message {
    height: 300px;
  }

}